@using Microsoft.AspNetCore.Components.Forms
@using MudBlazor

@namespace Craft.AppComponents.Security

@typeparam TUser where TUser : class

<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center" Style="min-height: 80vh;">
    <MudCard Class="mx-auto" Style="width: 100%; max-width: 440px;" Elevation="4">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h4" Align="Align.Center">@Title</MudText>
            </CardHeaderContent>
        </MudCardHeader>

        <MudCardContent>
            @if (_submitted)
            {
                <MudStack AlignItems="AlignItems.Center" Spacing="3" Class="py-4">
                    <MudIcon Icon="@Icons.Material.Filled.MarkEmailRead"
                             Color="Color.Success"
                             Style="font-size: 3rem;" />
                    <MudText Typo="Typo.h6" Align="Align.Center">Check your inbox</MudText>
                    <MudText Typo="Typo.body2" Align="Align.Center">
                        If an account exists for <strong>@_model.Email</strong>, a password
                        reset link has been sent. Check your spam folder if it doesn't arrive.
                    </MudText>
                </MudStack>
            }
            else
            {
                <MudText Typo="Typo.body2" Class="mb-4">
                    Enter your email address and we'll send you a link to reset your password.
                </MudText>

                <EditForm Model="@_model" OnValidSubmit="HandleForgotPasswordAsync">
                    <DataAnnotationsValidator />

                    <MudTextField @bind-Value="_model.Email"
                                  Label="Email"
                                  InputType="InputType.Email"
                                  For="@(() => _model.Email)"
                                  Variant="Variant.Outlined"
                                  Class="mb-3"
                                  Immediate="true" />

                    <MudButton ButtonType="ButtonType.Submit"
                               Variant="Variant.Filled"
                               Color="Color.Primary"
                               FullWidth="true"
                               Disabled="@_isProcessing"
                               Class="mb-3">
                        @if (_isProcessing)
                        {
                            <MudProgressCircular Size="Size.Small" Indeterminate="true" Class="mr-2" />
                            <span>Sending…</span>
                        }
                        else
                        {
                            <span>Send Reset Link</span>
                        }
                    </MudButton>
                </EditForm>
            }

            <MudDivider Class="my-3" />

            <MudText Typo="Typo.body2" Align="Align.Center">
                Remember your password?
                <MudLink Href="@LoginHref">Sign In</MudLink>
            </MudText>
        </MudCardContent>
    </MudCard>
</MudContainer>
