@using Craft.QuerySpec
@using Craft.UiBuilders.Generic
@using MudBlazor

@namespace Craft.UiBuilders.Components

@typeparam TEntity where TEntity : class

<div class="d-flex align-center flex-wrap gap-2">
    
    @* Add Filter Button (always first) *@
    <Show When="@(SearchableColumns.Count > 0)">
        <MudIconButton OnClick="@OpenFilterDialog" Icon="@Icons.Material.Filled.FilterAlt" Color="Color.Primary" 
                       Variant="Variant.Outlined" Size="Size.Small" />
    </Show>

    @* Filter Chips Display (wrap inline) *@
    <Show When="@(FilterBuilder.Count > 0)">
        @foreach (var filterCriteria in FilterBuilder.EntityFilterList)
        {
            <Show When="@(filterCriteria.Metadata is not null)">
                <CraftFilterChip Filter="@filterCriteria.Metadata" OnRemove="@(() => RemoveFilterAsync(filterCriteria.Metadata!))" />
            </Show>
        }
        
        <MudButton OnClick="@ClearAllFiltersAsync" 
                   Color="Color.Error" 
                   Variant="Variant.Text" 
                   Size="Size.Small"
                   StartIcon="@Icons.Material.Filled.Clear">
            Clear All
        </MudButton>
    </Show>

</div>
