@using Craft.UiComponents
@inherits CraftComponent

<div class="craft-running-number" style="@BuildStyle(); --digit-height: @GetDigitHeight();">
    <CraftDiv Class="number-container">
        @if (_currentValue < 0)
        {
            <MudText Typo="@TextType" Color="@TextColor" Class="digit-static">-</MudText>
        }
        
        @foreach (var digitInfo in GetDigitInfos())
        {
            <CraftDiv Class="digit-wrapper">
                <CraftDiv Class="digit-scroll" data-value="@digitInfo.Value">
                    @for (int i = 0; i <= 9; i++)
                    {
                        var digit = i; @* Capture the loop variable *@

                        <CraftDiv Class="digit-item">
                            <MudText Typo="@TextType" Color="@TextColor">@digit</MudText>
                        </CraftDiv>
                    }
                </CraftDiv>
            </CraftDiv>
            
            @if (digitInfo.NeedsComma)
            {
                <MudText Typo="@TextType" Color="@TextColor" Class="digit-static">,</MudText>
            }
        }
    </CraftDiv>
</div>


