@using Craft.UiBuilders.Generic
@using Craft.UiComponents
@using Craft.UiComponents.Semantic

@inherits CraftComponent

<Show When="@(Visible)">
    <MudPaper Elevation="@_currentElevation" Class="@($"pa-2 cursor-pointer transition-all {ColorClass}")" Style="height: 100%;"
              @onmouseenter="OnMouseEnter" @onmouseleave="OnMouseLeave" @onclick="OnCardClickAsync">

        <MudGrid Spacing="2" Style="height: 100%;">
            <!-- Title Area -->
            <MudItem xs="12" Class="flex-grow-1">
                <MudText Typo="Typo.caption">@Title</MudText>
            </MudItem>

            <!-- Large Icon on Left -->
            <MudItem xs="3" Class="flex-grow-1">
                <CraftDiv class="d-flex justify-center align-center">
                    <MudIcon Icon="@Icon" Color="Color.Primary" Size="Size.Large" Style="font-size: 3rem;" />
                </CraftDiv>
            </MudItem>

            <!-- Child Content on Right -->
            <MudItem xs="9" Class="flex-grow-1">
                <CraftDiv Class="flex-grow-1">
                    @ChildContent
                </CraftDiv>
            </MudItem>

            <!-- More Info Link at Bottom -->
            <MudItem xs="12" Class="d-flex justify-end align-center">
                <span @onclick="OnMoreInfoClickAsync" @onclick:stopPropagation="true"
                      class="d-flex align-center gap-1 cursor-pointer mud-primary-text">
                    <MudText Typo="Typo.body2">@MoreInfoText</MudText>
                    <MudIcon Icon="@MoreInfoIcon" Size="Size.Small" Color="Color.Primary" />
                </span>
            </MudItem>
        </MudGrid>
    </MudPaper>
</Show>
