@inherits CraftComponent

<nav @ref="ElementRef"
     id="@GetId()"
     class="@BuildCssClass()"
     style="@BuildStyle()"
     aria-label="@AriaLabel"
     aria-labelledby="@AriaLabelledBy"
     @attributes="@UserAttributes"
     @onclick="HandleClickAsync">
    @ChildContent
</nav>
